*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
img{
    width: 5%;
}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% / 2);
}
header {
	flex: 0 0 auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: .5rem 1rem;
}
#select-level{
    padding: .5rem;
}
#btn-play{
    padding: .5rem 1rem;
    background-color: goldenrod;
    border: 2px solid goldenrod;
}
#btn-help{
    padding: .5rem 1rem;
}

.container {
	flex: 1 0 0;
	display: flex;
	height: 100%;
	background-color: aquamarine;
}

.start-screen {
	margin: auto;
}

.grid {
	--sideSquare: 10;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	width: 500px;
	height: 500px;
	border: 2px solid black;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid black;
	height: calc(100% / var(--sideSquare));
	width: calc(100% / var(--sideSquare));
}

.cell.mine {
	background-color: red;
}

.cell.no-mine {
	background-color: greenyellow;
}

.hidden {
	display: none;
}